.step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.step-text {
    font-family: Pixels;
    text-align: center;
    margin-top: -10px;
}

.step-card {
    width: 100%;
    background-color: #3d5a80;
    margin-bottom: 0.5rem;
}

.step-thing {
    font-family: Pixels;
    margin-bottom: 0.25rem;
}