.image-container {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 300px;
    width: 100%;
}

.first-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.second-image {
    z-index: 2;
    position: absolute;
    top: -8px;
    left: 0;
    min-width: 300px;
    width: 100%;
}